body {
  background: rgba(0,0,0,.9);
  margin: 0;
  color: #fff;
}
header {
  height: 40vh;
  width: 100%;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-content{
  position:absolute;
  text-align: center;
  width: 50%;
  height: 40vh;
  left: 5%;
}
.grid-2{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
  align-items: center;
  vertical-align: middle;
}
.header-content .logo{
  height: 30vh;
}
.header-content .title{
  font-size: 30px;
}
.container{
  width: 100%;
  background-color: #ccc;
  color:#000;
  padding: 1rem 0rem;
}
.container .title{
  font-size: 20px;
}
.container .icon1{
  width: 90%;
  height: 150px;
}
.text-center{
  text-align: center;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media(max-width: 730px)  {
  header .header-content{
    position:absolute;
    width: 90%;
    height: 40vh;
    left: 5%;
  }
  .grid-2{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    align-items: center;
    vertical-align: middle;
  }
  .header-content .logo{
    height: 20vh;
  }
  .header-content .title{
    font-size: 18px;
  }
  .container{
    width: auto;
    padding: 0.5rem;
  }
  .grid-3{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .icon1{
    width: 200px;
    height: 100px;
  }

}
@media(max-height: 560px)  {
  header {
    height: 200px;
  }
  header .header-content{
    height: 200px;
  }
  .header-content .logo{
    height: 150px;
  }
  .header-content .title{
    font-size: 20px;
  }
  .container{
    width: auto;
    padding: 0.5rem;
  }
  .grid-3{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .icon1{
    width: 200px;
    height: 120px;
  }

}
