body {
  background: rgba(0,0,0,.9);
  margin: 0;
  color: #fff;
}
header {
  height: 40vh;
  width: 100%;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-content{
  position:absolute;
  text-align: center;
  width: 50%;
  left: 5%;
  top: 5%;
}
.grid-2{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
  align-items: center;
}
.header-content .logo{
  width: 150px;
}
.header-content .title{
  font-size: 30px;
}
.container{
  width: 100%;
  background-color: #fff;
  color:#000;
  padding: 1rem 0rem;
}
.container .title{
  font-size: 20px;
}
.container .icon1{
  width: 300px;
  height: 150px;
}
.text-center{
  text-align: center;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media(max-width: 720px)  {
  header {
    height: 30vh;
    width: 100%;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-content{
    position:absolute;
    left: 5%;
    width: 90%;
    align-items: center;
  }
  .header-content .logo{
    width: 100%;
  }
  .header-content .title{
    font-size: 20px;
  }
  .container{
    width: auto;
    background-color: #fff;
    color:#000;
    padding: 0.5rem;
  }
  .grid-3{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .icon1{
    width: 200px;
    height: 100px;
  }

}
@media(max-height: 560px)  {
  header {
    height: 40vh;
    width: 100%;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-content .logo{
    width: 100px;
  }
  .header-content .title{
    font-size: 20px;
  }
  .container{
    width: auto;
    background-color: #fff;
    color:#000;
    padding: 0.5rem;
  }
  .grid-3{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .icon1{
    width: 200px;
    height: 120px;
  }

}
